.members {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 62px - 74px);
    overflow-y: auto;

    .member {
        border-bottom: 1px solid lighten(#555, 50%);
        padding: 12px 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .member-left {
            .avatar {
                border-radius: 1rem;
            }
    
            .member-name {
                margin-left: 10px;
            }
        }

        .member-right {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}